@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap");


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* define a altura do corpo como 100% da altura da viewport */
    background-image: url('../img/background.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

.retangulo {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retangulo h1 {
    margin-top: 0;
    color: #006400;
  }

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

label {
    margin-bottom: 10px;
}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: #030303;
  background-color: #dddada;
  margin-left: auto;
}


.input-container label {
    margin-right: 10px;
    width: 30%;
}
  
.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.voltar{
    background-color: #D42216;
}

.atualizar{
    background-color: #006400;
}


button {
    padding: 15px;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.voltar:hover {
    background-color: #99342dd3;
}

.atualizar:hover {
    background-color: #218621a4;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #006400;
}

img{
    width: 100px;
    height: auto;
    
}


  