@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* define a altura do corpo como 100% da altura da viewport */
    background-image: url("../img/background.jpeg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
}

h1 {
    color: green;
}

.containerBox img {
    width: 80px;
    height: auto;
    cursor: pointer;
}

.containerBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

div.image-container img {
    width: 50px;
    height: 50px;
}

.buttonVoltar {
    text-align: center;
}

.buttonVoltar button {
    background-color: red;
    color: white;
    border: none;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
}

.fundo-branco {
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
}

.pause {
    display: none;
}
